/* 
dark gray: color: #333333
light gray: color: #e6e6e6
blue: color: #19334d
*/

* {
    font-family: monaco, Consolas, "Lucida Console", monospace;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}

h2, h3 {
    color: #19334d;
}

#right_side {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f0f5f5;
    height: 100%;
    width: 302px;
    border-left: 1px solid #e6e6e6;
}

#left_side {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f0f5f5;
    height: 100%;
    width: 302px;
    border-left: 1px solid #e6e6e6;
}

#center-top {
    position: absolute;
    top: 18px;
    height: 50%;
    left: 322px;
    right: 322px;
    width: 1278px;
}

#center-bottom {
    position: absolute;
    top: 65%;
    left: 322px;
    height: 35%;
    width: 974px;
}

#first-card {
    position: absolute;
    left: 4px;
    width: 300px;
    height: 80%;
    background-color: #cc6c6c;
    box-shadow: 10px 10px 5px #aaaaaa;
}

#first-card > h3, #second-card > h3, #third-card > h3, #fourth-card  > h3 {
    text-align: center;
    font-weight: bolder;
}

#first-card > button {
    position: absolute;
    top: 4%;
    right: 3%;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 5px;
    background: none;
    background-image: url(file:///C:/Users/Jonathan/Documents/GitHub/Dashboard/cross.svg);
    filter: invert(15%) sepia(9%) saturate(5373%) hue-rotate(173deg) brightness(91%) contrast(88%);
}

#second-card  > button {
    position: absolute;
    top: 4%;
    right: 3%;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 5px;
    background: none;
    background-image: url(file:///C:/Users/Jonathan/Documents/GitHub/Dashboard/cross.svg);
    filter: invert(15%) sepia(9%) saturate(5373%) hue-rotate(173deg) brightness(91%) contrast(88%);
}

#third-card  > button {
    position: absolute;
    top: 4%;
    right: 3%;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 5px;
    background: none;
    background-image: url(file:///C:/Users/Jonathan/Documents/GitHub/Dashboard/cross.svg);
    filter: invert(15%) sepia(9%) saturate(5373%) hue-rotate(173deg) brightness(91%) contrast(88%);
}

#fourth-card  > button {
    position: absolute;
    top: 4%;
    right: 3%;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 5px;
    background: none;
    background-image: url(file:///C:/Users/Jonathan/Documents/GitHub/Dashboard/cross.svg);
    filter: invert(15%) sepia(9%) saturate(5373%) hue-rotate(173deg) brightness(91%) contrast(88%);
}

#first-card > button > svg {
    position: absolute;
    align-content: center;
}

#second-card > button > svg {
    position: absolute;
    align-content: center;
}

#third-card > button > svg {
    position: absolute;
    align-content: center;
}

#fourth-card > button > svg {
    position: absolute;
    align-content: center;
}

#first-card  > button {
    position: absolute;
    top: 6%;
    right: 5%;
    width: 24px;
}

#first-card > button:hover, #second-card > button:hover, #third-card > button:hover, #fourth-card > button:hover{
    filter:invert(34%) sepia(17%) saturate(4273%) hue-rotate(328deg) brightness(89%) contrast(108%);
}

#first-card > p, #second-card > p, #third-card > p, #fourth-card > p {
    text-align: center;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    color: #19334d;
}


#second-card  > button {
    position: absolute;
    top: 6%;
    right: 5%;
    width: 24px;
}

#third-card  > button {
    position: absolute;
    top: 6%;
    right: 5%;
    width: 24px;
}

#fourth-card  > button {
    position: absolute;
    top: 6%;
    right: 5%;
    width: 24px;
}

#second-card {
    position: absolute;
    left: 328px;
    width: 300px;
    height: 80%;
    background-color: #d4e063;
    box-shadow: 10px 10px 5px #aaaaaa;
}

#third-card {
    position: absolute;
    left: 652px;
    width: 300px;
    height: 80%;
    background-color: #75df5b;
    box-shadow: 10px 10px 5px #aaaaaa;
}

#fourth-card {
    position: absolute;
    left: 974px;
    width: 300px;
    height: 80%;
    background-color: #67a5e2;
    box-shadow: 10px 10px 5px #aaaaaa;
}

#frm1-button {
    border: 3px solid #19334d;
    padding: 10px 24px;
    font-size: 16px;
    color: #19334d;
    font-weight: bold;
}

#frm1-button:hover {
    border: 3px solid green;
}

.headerfrm {
    font-size: 18px;
}

input[type=text] {
    background-color: #19334d;
    color: white;
    font-size: 12px;
    outline: none;
    border: 1px solid #19334d;
    resize: none;
    width: 424px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 8px;
}

textarea::placeholder {
    color: white;
}

textarea {
    background-color: #19334d;
    border: 1px solid #19334d;
    color: white;
    outline: none;
    resize: none;
    width: 424px;
    height: 300px;
}

#bellajp {
    position: absolute;
    top:8px;
    right:4px;
}

#linkedin {
    position: absolute;
    filter: invert(15%) sepia(9%) saturate(5373%) hue-rotate(173deg) brightness(91%) contrast(88%);
    bottom:10px;
    right:10px;
}

#twitter {
    position: absolute;
    filter: invert(15%) sepia(9%) saturate(5373%) hue-rotate(173deg) brightness(91%) contrast(88%);
    bottom:10px;
    right:52px;
}

#arrow_yellow_down {
    filter: invert(76%) sepia(86%) saturate(2501%) hue-rotate(7deg) brightness(99%) contrast(101%);
    position: fixed;
    right: 8px;
    padding-top: 3px;
}

#arrow_blue_down {
    filter: invert(15%) sepia(9%) saturate(5373%) hue-rotate(173deg) brightness(91%) contrast(88%);
    position: fixed;
    right: 8px;
    padding-top: 3px;
}

#arrow_blue_down2 {
    padding-top: 5px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(336deg) brightness(101%) contrast(105%)
}


#arrow_blue_right {
    filter: invert(15%) sepia(9%) saturate(5373%) hue-rotate(173deg) brightness(91%) contrast(88%);
    position: fixed;
    right: 8px;
    padding-top: 3px;
}

#left_section {
    left: 322px;
}

#right_section {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 820px;
    height: 500px;
    background-color: #f0f5f5;
}

.newsheader {
    display: none;
}

.collapsible {
    width: 302px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    color: #19334d;
    font-weight: bold
}

.empty_button {
    width: 300px;
    height: 10px;
    text-align: center;
    font-size: 18px;
    color: #19334d;
    background-color: #e6e6e6;
    font-weight: bold;
    border: 1px solid gray;
    border-bottom: 2px solid gray;
    border-radius: 2px;
}

.collapsible:hover {
    width: 300px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    color: #19334d;
    background-color: #ffffe6;
    font-weight: bold
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#txt_clock {
    width: 300px;
    text-align: center;
    color: #19334d;
    background-color: #e6e6e6;
    font-size: 36px;
    padding-bottom: 3%;
    padding-top: 3%;
    border: 1px solid gray;
}

/* .trello_links{
    text-align: center;
    font-size: 18px;
    color: #19334d;
    border: 8px solid #19334d;
    background-color: #e6e6e6;
    border-radius: 6px;
    padding: 0.2%;
    font-weight: bold
}
*/

header {
    width: 302px;
    position: absolute;
    top: 0;
    left: -2px;
    text-align: center;
    color: #e6e6e6;
    background-color:#19334d;
    padding-bottom: -0.6%;
    padding-top: -0.6%;
    border: 1px solid gray;
}

#extra_menu {
    position: absolute;
    font-size: 12px;
    padding-top: 1%;
    top: 10%;
    left: 5%;
    text-align: left;
    padding-right: 4%;
}

.expandbutton-function {
    background-color:#19334d;
    border: 3px solid gray;
    height: 60px;
    width: 106px;
    color: white;
    font-weight: bold;
}

.newsdate {
    padding-bottom: 8px;
    border-bottom: 1px solid gray;
    font-size: smaller;
    font-style: italic;
    
}

li {
    padding-top: 0.9%;
}

a {
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: #19334d
}
  
a:visited {
    text-decoration: none;
    color: #19334d
}
  
a:hover {
    text-decoration: underline;
    color: #19334d;
}
  
a:active {
    text-decoration: underline;
    color: #19334d
}